@media ( max-width: 744px)
	.intro
		&__title
			font-size: 24px
			line-height: 28px
			letter-spacing: 0

	.section3
		&__subtitle
			font-size: 14px
	.comfortlive
		&__title
			font-size: 20px

	.centers
		&__item--red
			padding: 15px
			.centers-list__item
				&-title
					padding-left: 0
					&::before
						content: none
		&__item--green
			padding: 15px
			.centers-list__item
				&-title
					padding-left: 0
					&::before
						content: none

	.warranty
		&__inner
			display: block
		&__list
			width: 80%
			margin: 0 auto
